<article>
    <div class="banner">
      <ul class="texts">
        <p>The best life is use of willing attitude, a happy-go-lucky life. </p>
        <p>最好的生活是用心甘情愿的态度，过随遇而安的生活。</p>
      </ul>
    </div>
    <div class="bloglist">
      <h2>
        <p>
        <span>推荐</span>
        文章
        <%= link_to '浏览更多', articles_path, target: '_blank' %>
        </p>
      </h2>
      <%- @featured_articles.each do |article| %>
        <%= render "articles/article",article: article %>
      <% end %>
    </div>
  </article>
  <div class="clear"></div>
  <!-- 清除浮动 -->
