<div class="avatar">
      <a href="about.html"><span>关于<%= @user.email%></span></a>
    </div>
    <div class="topspaceinfo">
      <h1>执子之手，与子偕老</h1>
      <p>于千万人之中，我遇见了我所遇见的人....</p>
    </div>
    <div class="about_c">
      <p>网名：DanceSmile | 即步非烟</p>
      <p>职业：**** </p>
      <p>籍贯：modu</p>
      <p>电话：123456789</p>
      <p>邮箱：<%= @user.email%></p>
</div>