<h1>Listing admin_Users</h1>
<h3>粉丝总数：<%= collection.count%></h3>
<table>
  <thead>
    <tr>
      <th>姓名:</th>
      <th colspan="10">邮箱：</th>
    </tr>
  </thead>
  <tbody>
    <%- collection.each do |resource| %>
      <tr>
        <td><%= resource.try(:name) %></td>
        <td><%= resource.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>